# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Django migrations (optional – keep if team project)
# */migrations/*.py
# !*/migrations/__init__.py

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
